<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name ="uid" value = "mngr538257"/>
  <parameter name ="pwd" value = "bagYpAj"/>
  <classes>
  <class name = "guru99"></class> 
  </classes>
  
  
  </test> <!-- Test -->
</suite> <!-- Suite -->
